/* montserrat-100 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/montserrat-v15-latin_cyrillic-100.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/montserrat-v15-latin_cyrillic-100.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v15-latin_cyrillic-100.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-100.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-100.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v15-latin_cyrillic-100.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-200 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/montserrat-v15-latin_cyrillic-200.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/montserrat-v15-latin_cyrillic-200.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v15-latin_cyrillic-200.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-200.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-200.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v15-latin_cyrillic-200.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-300 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v15-latin_cyrillic-300.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/montserrat-v15-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v15-latin_cyrillic-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-300.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v15-latin_cyrillic-300.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v15-latin_cyrillic-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/montserrat-v15-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v15-latin_cyrillic-regular.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v15-latin_cyrillic-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/montserrat-v15-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v15-latin_cyrillic-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v15-latin_cyrillic-500.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-600 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v15-latin_cyrillic-600.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/montserrat-v15-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v15-latin_cyrillic-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-600.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v15-latin_cyrillic-600.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v15-latin_cyrillic-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/montserrat-v15-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v15-latin_cyrillic-700.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-800 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat-v15-latin_cyrillic-800.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/montserrat-v15-latin_cyrillic-800.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v15-latin_cyrillic-800.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-800.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-800.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v15-latin_cyrillic-800.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-900 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/montserrat-v15-latin_cyrillic-900.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/montserrat-v15-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v15-latin_cyrillic-900.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-900.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-900.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v15-latin_cyrillic-900.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

html {
    -ms-overflow-style: none;
    /* IE 10+ */
    scrollbar-width: none;
    /* Firefox */
}

body {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    /* chrome based */
    width: 0px;
    background: transparent;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to left bottom, #039d13, #068a16, #097817, #0b6616, #0d5515);
}

.content input,
.content button.signin-btn {
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 15px;
}

.content input {
    background-color: #37813e;
}

.content input::placeholder {
    color: #fff;
    opacity: .4;
}

button.signin-btn {
    background-color: #0FA31E;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    z-index: 99;
}

.authorization-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.input-tel {
    transition: 1.8s ease-in all;
    margin-bottom: -60px;
}

.input-pass {
    visibility: hidden;
    margin-bottom: 20px;
    margin-top: 15px;
    animation: slide-up 3s;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.title {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 5px;
}

.subtitle {
    color: #fff;
    font-size: 14px;
    margin-bottom: 60px;
    max-width: 130px;
}

.title img {
    margin-right: 10px;
}

.footer {
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: flex;
}

footer a {
    position: absolute;
    color: #fff;
    font-size: 12px;
    opacity: .5;
    transform: translate(-50%);
}

a.rules {
    left: 50%;
}

a.copyright {
    right: 0;
}

/* Profile page */
.page-content {
    display: grid;
    width: 100%;
    grid-template-areas:
        "aside main main"
        "aside  main main"
        "aside  foot foot";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 380px 1fr 1fr;

}

.page-content>aside {
    grid-area: aside;
    background-image: linear-gradient(to left bottom, #039d13, #00971b, #009222, #008c26, #00862a);
    padding: 50px 58px;
    height: 100vh;
    line-height: 158%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    overflow: auto;
}

.page-content>main {
    grid-area: main;
    position: relative;
}

.page-content>footer {
    grid-area: foot;
}

.sidebar-nav ul li a {
    color: #fff;
    opacity: .6;
    text-decoration: none;
    font-size: 14px;
    transition: .3s all;
}

.sidebar-nav ul li a:hover {
    opacity: 1;
}

.sidebar-nav ul li {
    margin-bottom: 23px;
    max-width: 250px;
}

.sidebar__profile-info {
    color: #fff;
    font-size: 16px;
    padding-bottom: 80px;
}

.sidebar__profile-info h4 {
    font-size: 14px;
    padding-left: 40px;
}

.balance {
    margin-bottom: 12px;
}

.sidebar__profile-info div>img {
    margin-right: 12px;
}

.notifications {
    margin-bottom: 50px;
}

.main__blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    padding: 30px 14px;
}

.main__blocks-block {
    border-radius: 20px;
    padding: 27px;
    box-sizing: border-box;
    -webkit-box-shadow: -1px 2px 11px -3px rgba(0, 0, 0, 0.70);
    -moz-box-shadow: -1px 2px 11px -3px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 2px 11px -3px rgba(0, 0, 0, 0.75);
}

.main__blocks-block h3,
.main__block-subtitle {
    font-size: 14px;
}

.main__blocks-block h3 {
    font-weight: 600;
    margin-bottom: 12px;
    color: #000;
    position: relative;
}

.main__block-text {
    font-size: 10px;
    line-height: 1.8em;
    margin-top: -15px;
}

.main__blocks-block div span {
    font-size: 12px;
}

.main__block-info_row,
.main__block-info_row-second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.block-rows {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 14px;
    margin-top: -45px;
}

.block-canceled__delivery {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 30px;
}

.main__blocks-block button {
    font-size: 12px;
    border: none;
    border-radius: 8px;
    height: 24px;
    background-color: #E3E3E3;
    transition: .4s all;
}

.main__blocks-block button:hover {
    background-color: #d8d8d8;
}

.main__blocks-block:first-child {
    grid-column: 1;
    grid-row: 1/3;
    max-width: 360px;
    min-height: 384px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__blocks-block:nth-child(2) {
    grid-row: 3;
    min-height: 192px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__blocks-block:nth-child(2).main__block-info_row {
    margin-bottom: 30px;
}

.block-canceled__delivery .canceled__delivery {
    max-width: 154px;
}

.main__block-info_row-second {
    margin-bottom: 30px;
    margin-top: 30px;
}

.main__block-info_row-second span.percents {
    opacity: .4;
}

.main__block-info_row-second div span {
    font-size: 21px;
}

.main__blocks-block:nth-child(3) {
    grid-column: 2;
    grid-row: 1/4;
    max-width: 384px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__blocks-block:nth-child(4) {
    grid-column: 3/5;
    grid-row: 1/6;
    padding: 27px 30px;
    padding: 0;
}

.main__blocks-block:nth-child(4) h3 {
    margin-bottom: 40px;
    padding: 27px 27px 0px 27px;
}

.selling-block {
    max-height: 984px;
    overflow-y: scroll;
}

.block__selling-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #000;
    opacity: .5;
    margin-bottom: 14px;
    padding: 0 27px;
}

.selling-content-item:nth-of-type(odd) {
    background-color: rgba(112, 112, 112, .2);
}

.selling-content-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 27px 20px;
}

.selling-content-item div {
    display: flex;
    flex-direction: column;
}

.item-title {
    max-width: 180px;
    font-size: 14px;
}

.item-title div {
    margin-bottom: 28px;
}

.item-num div {
    margin-bottom: 10px;
}

.item-num .item-date,
.item-time {
    font-size: 12px;
    opacity: .5;
}

.item-quantity div {
    font-size: 14px;
    margin-bottom: 28px;
}

.main__blocks-block:nth-child(5) {
    grid-row: 4;
    grid-column: 1/3;
    min-height: 144px;
    display: flex;
    justify-content: space-between;
}

.block__balance,
.block__celling {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.block__balance {
    margin-right: 40px;
}

.block__celling a {
    color: #222;
    font-size: 12px;
    text-decoration: none;
    text-align: right;
}

.block__celling a:focus {
    outline: none;
}

.main__block-info_row span.block__balance-num {
    font-size: 16px;
}

.main__blocks-block:nth-child(6) {
    grid-row: 5;
    grid-column: 1/3;
    min-height: 192px;
}

.block-question {
    position: absolute;
    text-align: center;
    display: flex;
    top: -5px;
    right: -10px;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    background-color: #40C34E;
    color: #fff;
    font-weight: 300;
    border-radius: 50%;
    cursor: pointer;
}

.question-delivery {
    right: 90px;
}

.analytics {
    margin-top: 60px;
    margin-bottom: 30px;
}

.analytics h3 {
    font-size: 16px;
    font-weight: 700;
    margin-left: 40px;
    margin-bottom: 30px;
}

.main__blocks-block:nth-child(6) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main__blocks-block:nth-child(6) h3 {
    margin-bottom: 50px;
    align-self: flex-start;
}

.main__blocks-block:nth-child(6) {
    overflow: hidden;
}

.range {
    position: relative;
    width: 550px;
    height: 5px;
}

.range input {
    width: 100%;
    position: absolute;
    top: 2px;
    height: 0;
    -webkit-appearance: none;
}

.range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    background-image: linear-gradient(to left bottom, #039d13, #08a318, #0da91d, #11af22, #15b526);
    cursor: pointer;
    border: 0 !important;
}

.range input::-moz-range-thumb {
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    background-image: linear-gradient(to left bottom, #039d13, #08a318, #0da91d, #11af22, #15b526);
    cursor: pointer;
    border: 0 !important;
}

.range input::-ms-thumb {
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    background-image: linear-gradient(to left bottom, #039d13, #08a318, #0da91d, #11af22, #15b526);
    cursor: pointer;
    border: 0 !important;
}

.range input::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #b2b2b2;
}

.range input::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #b2b2b2;
}

.range input::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #b2b2b2;
}

.range input:focus {
    background: none;
    outline: none;
}

.range input::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.range-labels {
    margin: 18px -41px 0;
    padding: 0;
    list-style: none;
}

.range-labels li {
    position: relative;
    float: left;
    width: 90.25px;
    text-align: center;
    color: #b2b2b2;
    font-size: 14px;
    cursor: pointer;
}

.range-labels li::before {
    position: absolute;
    top: -25px;
    right: 0;
    left: 0;
    content: "";
    margin: 0 auto;
    width: 9px;
    height: 9px;
    background: #b2b2b2;
    border-radius: 50%;
}

.range-labels .active {
    color: #08a318;
    font-weight: 600;
}

.range-labels .selected::before {
    background-image: linear-gradient(to left bottom, #039d13, #08a318, #0da91d, #11af22, #15b526);
}

.range-labels .active.selected::before {
    display: none;
}

.analytics-first__chart {
    background-image: linear-gradient(to left bottom, #039d13, #08a318, #0da91d, #11af22, #15b526);
    padding: 30px;
    border-radius: 30px;
    height: 428px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    -webkit-box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.29);
}


.slider {
    width: 760px;
    height: 7px;
    margin-right: 25px;
}

.month-slider-wrapper {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.month-slider-wrapper .shortcuts {
    display: flex;
}

.month-slider-wrapper .shortcuts li {
    font-size: 14px;
    margin-right: 18px;
    color: #707070;
    border: none;
    outline: none;
    background-color: #eceaea;
    border-radius: 5px;
    padding: 4px 15px;
    cursor: pointer;
    transition: .3s all;
}

.shortcuts li:hover,
.shortcuts li.active {
    background-color: #40C34E;
    color: #fff;

}

.month-slider-wrapper .noUi-connect {
    background-color: #40C34E;
    box-shadow: none;
}

.noUi-tooltip {
    border: none;
}

.month-slider-wrapper .noUi-tooltip {
    display: flex;
}

.noUi-connects {
    background-color: rgba(46, 46, 46, .2);
}

.month-slider-wrapper .noUi-pips {
    top: 40%;
}

.month-slider-wrapper .noUi-pips .noUi-marker {
    display: none;
}

.month-slider-wrapper .noUi-pips .noUi-value {
    font-size: 0.8em;
}

.month-slider-wrapper .noUi-handle {
    font-size: 0.8em;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
    width: 30px;
    height: 17px;
    -webkit-box-shadow: 0px 5px 17px -6px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 5px 17px -6px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 5px 17px -6px rgba(0, 0, 0, 0.29);
}

.month-slider-wrapper .noUi-handle:before,
.month-slider-wrapper .noUi-handle:after {
    display: none;
}

.sample-submit-data {
    display: none;
}

.analytics-second__chart {
    height: 168px;
    max-width: 400px;
    border-radius: 20px;
    margin-bottom: 150px;
    -webkit-box-shadow: -1px 2px 11px -3px rgba(0, 0, 0, 0.70);
    -moz-box-shadow: -1px 2px 11px -3px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 2px 11px -3px rgba(0, 0, 0, 0.75);
    position: relative;
}

#secondChart {
    height: 150px !important;
    width: auto !important;
    position: absolute;
    top: 10px;
    left: 130px;
}

#legend {
    padding-top: 18px;
    padding-left: 18px;
}

li {
    list-style-type: none;
}

.label {
    margin-left: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #666666;
    font-size: 14px;
}

.legendValue {
    text-align: left;
    height: 25px;
}

#secondChart {
    height: 50px;
}

.foot {
    position: relative;
}

.foot a {
    color: #333333;
    opacity: 1;
    text-decoration: none;
}

.foot a:first-child {
    left: 7%;
}

.foot a:nth-child(2) {
    left: 24%;
}

.foot a:last-child {
    right: -5%;
}

.nav-toggle {
    cursor: pointer;
    height: 1rem;
    left: .3rem;
    position: fixed;
    top: 1rem;
    width: 2.6rem;
    z-index: 2;
}

.nav-toggle:hover {
    opacity: 0.8;
}

.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: white;
    content: "";
    height: 0.2rem;
    transition: all 0.5s;
    width: 100%;
}

.nav-toggle .nav-toggle-bar {
    margin-top: 0;
}

.nav-toggle .nav-toggle-bar::after {
    margin-top: 0.8rem;
}

.nav-toggle .nav-toggle-bar::before {
    margin-top: -0.8rem;
}

.nav-toggle.expanded .nav-toggle-bar {
    background: transparent;
}

.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {
    background: white;
    margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-toggle__wrap {
    position: fixed;
    height: 50px;
    width: 57px;
    border-bottom-right-radius: 19px;
    z-index: 9;
    background: linear-gradient(to left bottom, #039d13, #00971b, #009222, #008c26, #00862a);
    display: none;
}

.nav {
    background-image: linear-gradient(to left bottom, #039d13, #00971b, #009222, #008c26, #00862a);
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    height: 100%;
    overflow: auto;
    left: -24rem;
    padding: 6rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    transition: left 0.5s;
    width: 19rem;
    z-index: 2;
}

.nav-toggle__wrap.expanded {
    background: none;
}

.nav.expanded {
    left: 0;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.nav ul li a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.nav div {
    font-size: 16px;
}

.nav div img {
    margin-right: 10px;
}

.nav .balance h4 {
    margin-top: 30px;
    margin-bottom: 10px;
    padding-left: 24px;
}

#main {
    background-image: linear-gradient(to bottom, rgba(40, 221, 224, 0.5), rgba(86, 52, 209, 0.5)), url("https://source.unsplash.com/r9eIL7jtenc");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, 0.75);
    flex-grow: 1;
    flex-shrink: 0;
    padding: 2rem;
    position: relative;
}

/* Analytics page  */
.main-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin: 20px;
    border-radius: 20px;
    padding: 27px;
    box-sizing: border-box;
    -webkit-box-shadow: -1px 2px 11px -3px rgba(0, 0, 0, 0.70);
    -moz-box-shadow: -1px 2px 11px -3px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 2px 11px -3px rgba(0, 0, 0, 0.75);
    font-size: 12px;
}

.main-block__column:nth-child(2) {
    margin-right: 20px;

}

.main-block__column .main__block-info_row:not(:last-child) {
    margin-bottom: 10px;
}

.charts__nav {
    margin: 30px;
}

.analytics-fchart {
    margin: 20px;
}

.analytics-third__chart canvas {
    margin-top: -215px;
}

.analytics__charts {
    padding-bottom: 50px;
}

.block__balance-num span.num-grey {
    opacity: .5;
}

/* Admin page  */
.page-content>aside.sidebar-admin,
.nav.nav-admin {
    background-image: none;
}

.nav-admin,
.sidebar-admin {
    background-color: #747474;
}

.nav-toggle__wrap-admin {
    background: #747474;
}

.main__blocks-block:nth-child(3).main__blocks-block_admin {
    justify-content: unset;
}

.main__blocks-block.main__blocks-block_admin p {
    max-width: 200px;
    font-size: 14px;
    line-height: 24px;
}

.admin__refuses {
    margin: 10px 60px 10px 20px;
    padding: 14px 0px 110px 0px;
    font-size: 14px;
}

.admin__refuses:not(:last-child) {
    border-bottom: 1px solid #000;
}

.block_admin-title {
    font-size: 20px;
    font-weight: 400;
    margin: 20px;
}

.main__blocks-block:nth-child(6) {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.range-admin {
    height: 0;
}

.range-admin input {
    top: -2px;
}

.range-labels__admin .selected::before {
    background: #fff;
    border: 1px solid #000;
}

.range-admin input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    margin: -8px 0 0;
    border-radius: 50%;
    background-image: none;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid !important;
}

.range-admin input::-moz-range-thumb {
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    background-image: none;
    background-color: #000;
    cursor: pointer;
    border: 0 !important;
}

.range-admin input::-ms-thumb {
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    background-color: #000;
    cursor: pointer;
    border: 0 !important;
}

.range-admin input::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #b2b2b2;
}

.range-admin input::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #b2b2b2;
}

.range-admin input::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #b2b2b2;
}

.range-labels__admin li::before {
    background: #fff;
    border: 1px solid #000;
}

.range-labels__admin .active {
    font-weight: 400;
    color: #000;
}

.goods__title h3 {
    font-size: 21px;
    margin-bottom: 20px;
}

.goods__title p {
    line-height: 24px;
    font-size: 14px;
    max-width: 648px;
}

.goods__title p span {
    font-weight: 700;
}

.goods__title {
    margin: 20px;
    color: #000;
    margin-bottom: 100px;
}

.goods__adding {
    margin-left: 20px;
}

.goods-characteristic {
    display: grid;
    grid-template-columns: minmax(max-content, 300px) minmax(200px, 1fr) 150px;
}

.goods-characteristic h4 {
    font-size: 14px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #EFEFEF;
    border-radius: 10px;
    background-image: none;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    max-width: 264px;
    height: 36px;
    line-height: 3;
    background: #EFEFEF;
    overflow: hidden;
    border-radius: 10px;
    margin-left: 5px;
    font-size: 14px;
}

.goods-category .select {
    margin-top: 15px;
    margin-bottom: 30px;
}

.goods-size .select {
    margin-top: 15px;
    margin-bottom: 20px;
}

select {
    flex: 1;
    padding: 0 10px;
    color: #333333;
    cursor: pointer;
}

.select::after {
    content: '';
    position: absolute;
    width: 48px;
    height: 100%;
    top: 0;
    right: 0;
    background-image: url('../img/arrow-down.svg');
    background-color: #40C34E;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

.goods-size {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 215px);
    max-width: 500px;
}

.goods-size__group {
    margin-top: 94px;
}

.goods-size__group-row {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.group-row__item .select {
    max-width: 96px;
}

.group-row__item {
    width: 100%;
}

.group-row__item h4 {
    max-width: 100px;
}

.last-heading__group {
    margin-top: 30px;
}

.spin {
    display: flex;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
    margin-bottom: 20px;
}

.spin input {
    text-align: center;
    width: 48px;
    height: 34px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #EFEFEF;
    margin-right: 24px;
}

.spin span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 36px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #fff;
    margin-right: 24px;
    font-size: 30px;
    font-weight: 500;
}

.spin .spin-minus {
    background: #FF004E;
}

.spin .spin-plus {
    background: #40C34E;
}

.goods__add-agreement {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: sticky;
    top: 0;
    right: 0;
    font-size: 20px;
}

.agreement-wrapper {
    padding-right: 30px;
    padding-top: 10px;
}

.agreement {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    color: #333333;
}

.agreement span {
    line-height: 24px;
    font-size: 12px;
}

.agreement a {
    color: #333333;

}

.goods__add-agreement button {
    width: 384px;
    height: 72px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #40C34E;
    color: #fff;
    font-size: 14px;
    transition: .3s all;
}

.goods__add-agreement button:hover {
    background-color: #36a541;
}

.agreement input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: rgb(230, 228, 228);
    border-radius: 6px;
    -webkit-box-shadow: -7px 11px 22px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 11px 22px -13px rgba(0, 0, 0, 0.75);
    box-shadow: -7px 11px 22px -13px rgba(0, 0, 0, 0.75);
}

.agreement:hover input~.checkmark {
    background-color: #ccc;
}

.agreement input:checked~.checkmark {
    background-color: #40C34E;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.agreement input:checked~.checkmark:after {
    display: block;
}

.agreement .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.goods-instructions textarea {
    background-color: #EFEFEF;
    width: 576px;
    height: 120px;
    border-radius: 10px;
    border: none;
    resize: none;
    padding: 24px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.goods-instructions h4 {
    font-size: 14px;
    margin-bottom: 15px;
}

.goods-instructions p span {
    font-weight: 700;
}

.goods-instructions p {
    font-size: 14px;
    line-height: 24px;
    max-width: 600px;
}

.select-quantity {
    margin-bottom: 50px;
}

.goods-card {
    margin-top: 60px;
    max-width: 576px;
}

.goods-card__heading {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EFEFEF;
    padding-left: 14px;
    border-radius: 10px;
}

.goods-card__heading button {
    height: 100%;
    border-radius: 10px;
    background-color: #DB1212;
    color: #fff;
    border: none;
    outline: none;
    width: 96px;
    font-size: 14px;
}

.goods-card__pic {
    width: 264px;
    height: 336px;
    background-color: #ACACAC;
    margin-top: 24px;
}

.goods__add_pic-btn {
    width: 100%;
    background-color: #40C34E;
    margin-top: 30px;
    color: #fff;
    height: 48px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-bottom: 200px;
}

.foot.foot-goods {
    margin-top: 60px;
}

@media(max-width: 1860px) {

    .main__blocks-block:nth-child(3) {
        grid-column: 1/3;
        grid-row: 3/5;
        max-width: unset;
    }

    .main__blocks-block:nth-child(2) {
        grid-row: 5;
        grid-column: 1/3;
    }

    .main__blocks-block:nth-child(5) {
        grid-row: 7/9;
        grid-column: 1/3;
    }

    .main__blocks-block:nth-child(6) {
        grid-row: 6;
        grid-column: 1/3;
    }

    .main__blocks-block:first-child {
        grid-column: 1/3;
        grid-row: 1/3;
        max-width: unset;
    }

    .notifications {
        margin-bottom: 10px;
    }

    .main__block-info_row-second:first-child {
        margin-bottom: 10px;
        margin-top: 50px;
    }

    .block-canceled__delivery {
        padding-top: 20px;
    }

    .block-refuces {
        padding-top: 20px;
    }

    .main__blocks-block:nth-child(4) {
        max-height: unset;
        grid-row: 1/6;
    }

}

@media(max-width: 1660px) {
    .slider {
        width: 600px;
    }

    .foot a:nth-child(2) {
        left: 38%;
    }

    .foot a:first-child {
        left: 13%;
    }
}

@media(max-width: 1500px) {
    .slider {
        width: 460px;
    }

    .analytics-third__chart canvas {
        margin-top: -85px;
    }

    .main-block {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 1450px) {
    .goods__add-agreement {
        display: flex;
        justify-content: flex-start;
        width: unset;
        position: absolute;
        top: unset;
        left: 24px;
        bottom: 30px;
        font-size: 20px;
    }

    .goods-characteristic {
        display: grid;
        grid-template-columns: minmax(max-content, 300px) minmax(200px, 1fr);
    }

    .month-slider-wrapper {
        flex-wrap: wrap;
    }

    .slider {
        width: 290px;
    }
}

@media(max-width: 1350px) {
    .slider {
        width: 290px;
    }
}

@media(max-width: 1230px) {
    * {
        box-sizing: border-box;
    }

    .sidebar-nav,
    .sidebar__profile-info {
        display: none;
    }

    .page-content>aside {
        grid-area: unset;
        display: none;
    }

    .nav-toggle__wrap {
        display: block;
    }

    .page-content {
        display: grid;
        grid-template-areas: none;
    }

    .page-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .page-content>footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .page-content>footer {
        padding: 0px 10px;
    }

    .page-content__goods {
        grid-template-columns: none;
        grid-template-rows: none;
        position: relative;
    }

    footer a {
        transform: unset;
    }

    .foot a:first-child {
        left: 0;
        padding-left: 10px;
    }

    .foot a:last-child {
        right: 0;
        padding-right: 10px;
    }

    .analytics-first__chart {
        margin-right: 0;
    }

    .block-question {
        top: -7px;
    }

    .main__blocks-block:nth-child(6) {
        grid-column: 1/5;
    }

    .main__blocks-block:nth-child(5) {
        grid-column: 1/5;
    }

    .analytics-first__chart {
        margin: 10px;
    }

    .analytics {
        width: 100vw;
    }
}

@media(max-width: 1000px) {
    .goods__title {
        margin-top: 60px;
    }

    .month-slider-wrapper {
        flex-direction: column;
    }

    .shortcuts {
        margin-bottom: 40px;
    }

    .foot a:nth-child(2) {
        padding: 10px 65px;
    }

    .foot a {
        padding: 10px 0;
    }
}

@media(max-width: 900px) {
    .goods-size {
        grid-template-columns: minmax(auto, 285px);
    }

    .main__blocks-block:nth-child(4) {
        grid-column: 1/4;
        grid-row: 6;
        max-height: 500px;
    }

    .main__blocks-block:nth-child(6) {
        grid-row: 7;
    }

    .main__blocks-block:nth-child(5) {
        grid-row: 8;
    }

    .main__blocks-block:first-child {
        grid-column: 1/5;
    }

    .main__blocks-block:nth-child(3) {
        grid-column: 1/5;
    }

    .main__blocks-block:nth-child(2) {
        grid-column: 1/5;
    }

    .main__blocks-block:nth-child(4) {
        grid-column: 1/5;
    }

    #firstChart {
        height: 300px;
    }

    .foot a:nth-child(2) {
        left: 28%;
    }
}


@media(max-width: 768px) {
    .analytics-first__chart {
        height: 360px;
    }

    .month-slider-wrapper .shortcuts {
        flex-wrap: wrap;

    }

    .month-slider-wrapper .shortcuts li {
        margin-bottom: 10px;
    }

    .goods__add_pic-btn {
        margin-bottom: 220px;
    }

    .goods__add-agreement {
        bottom: 50px;
    }

    footer a {
        position: unset
    }

    .foot a {
        padding: 0;
    }
}

@media(max-width: 700px) {
    .main-block {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 630px) {
    .goods-characteristic {
        grid-template-columns: minmax(200px, 1fr);
    }

    .goods-instructions textarea {
        width: 420px;
    }

    .goods__adding {
        margin-left: 0;
        padding: 20px;
    }

    .goods-instructions textarea {
        width: 100%;
    }

    .goods__add_pic-btn {
        margin-bottom: 250px;
    }

    .goods__add-agreement {
        bottom: 90px;
    }

    .goods__add-agreement button {
        height: 36px;
        padding: 10px;
        width: unset;
    }
}

@media(max-width: 600px) {
    .main__blocks-block:nth-child(5) {
        display: flex;
        flex-direction: column;
    }

    .block__balance,
    .block__celling {
        width: 100%;
    }

    .main__block-info_row {
        margin-bottom: 10px;
    }
}

@media(max-width: 500px) {
    .analytics-second__chart {
        overflow-x: hidden;
    }
}

@media(max-width: 450px) {
    .block__selling-head {
        display: none;
    }

    .selling-content-item {
        flex-wrap: wrap;
    }

    #secondChart {
        height: 102px !important;
        top: 28px;
        left: 152px;
    }

    .analytics-second__chart {
        height: 150px;
        max-width: 340px;
    }

    .analytics-first__chart {
        height: 260px;
    }

    .slider {
        width: 200px;
    }

    .main__blocks-block:nth-child(2) .main__block-title {
        margin-bottom: 30px;
    }

    .block-question {
        right: 0;
    }

    .nav.expanded {
        z-index: 9;
    }

    .nav-toggle__wrap {
        z-index: 99;
    }

    .analytics-third__chart canvas {
        margin-top: 0;
    }

    .main-block {
        margin: 0;
    }

    .slider {
        width: 168px;
    }
}